/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = lighten(#4a154b, 20%)
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #000
$arrowBgColor = #ccc
.ui-post
  margin: 0 auto 20px;
  padding: 16px 20px;
  width: 100%;
  overflow: hidden;
  border-radius: .25rem;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
.ui-post:hover
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
